<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/new.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
    <div class = "firstline">
      <h1 class = "firstline-title">New Condition</h1>
      <div class="dropdown">
        <button class="dropbtn">More</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/weather-dashboard">Dashboard</a>
          <a href="/conditions">Conditions</a>
        </div>
      </div>
    </div>

    <form action="/conditions" method="post">
      <div class = "input-forms">
        <p><input type='date' name='condition[date]' placeholder="Date"/></p>
        <p><input type='float' name='condition[max_temperature_f]' placeholder='Max Temperature'/></p>
        <p><input type='float' name='condition[min_temperature_f]' placeholder='Min Temperature'/></p>
        <p><input type='float' name='condition[mean_temperature_f]' placeholder='Mean Temperature'/></p>
        <p><input type='float' name='condition[mean_humidity]' placeholder='Mean Humidity'/></p>
        <p><input type='float' name='condition[mean_visibility_miles]' placeholder='Mean Visibility'/></p>
        <p><input type='float' name='condition[mean_wind_speed_mph]' placeholder='Mean Wind Speed'/></p>
        <p><input type='float' name='condition[precipitation_inches]' placeholder='Precipitation'/></p>
      </div>
      <div class = "create-button">
        <p><input class = "button" type='submit' value='Create'/></p>
      </div>
    </form>
  </body>
</html>
